fail_fast: true
repos:
  - repo: local
    hooks:
      - id: system
        name: mypy
        entry: poetry run tox -e mypy-locked
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: isort
        entry: poetry run isort -c .
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: flake8
        entry: poetry run flake8 requirements/ tests/
        pass_filenames: false
        language: system
