language: python

python:
  - "3.3"
  - "3.2"
  - "2.7"
  - "2.6"

install:
  - pip install flake8 'coverage<4' coveralls --use-mirrors

script:
  - coverage run setup.py test
  - flake8 requirements

after_success: coveralls
